* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width:30%;
    margin: 25vh auto;
    background-color: #222;
    color:white;
    padding:20px;
    display: block;
    border-radius: 15px;

    
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    margin-top: 30px;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  
}

label {
    font-size: 20px;
    font-weight: 500;
}
h2{
    text-align: center;
}

.input-group label {
    flex: 1;
    text-align: justify;
    padding-right: 10px;
}

.input-group input {
    flex: 2;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

input:focus{
    outline: none;
}


.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.calc{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calc:hover {
    background-color: #45a049;
}